{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    {% if action is not defined %}
        <h1 class="my-4 text-center">Inscription</h1>
    {% else %}
        <h1 class="my-4 text-center">Changer le mot de passe</h1>
    {% endif %}

    <div class="row">
        <div class="col-6 mx-auto">
            {{ form_start(form) }}

            <div class="row">
                <div class="col-6">{{ form_row(form.firstname) }}</div>
                <div class="col-6">{{ form_row(form.lastname) }}</div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}