{% extends 'base.html.twig' %}

{% block title %}Page d'accueil GamingExchange{% endblock %}

{% block body %}


<!-- CAROUSEL -->
	<div class="container">
		<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>

			</div>
			<div class="carousel-inner">
				<div class="carousel-item drk active">
					<div class="slide1"></div>
					<img src="uploads/slider1.jpg" class="d-block w-100" alt="...">
					<div class="carousel-caption d-none d-md-block">
					</div>
				</div>
				<div class="carousel-item drk">
					<img src="uploads/playstation.jpg" class="d-block w-100" alt="...">
					<div class="carousel-caption d-none d-md-block">
						<h3>Sony</h3>
						<p>C'est plus fort que toi</p>
					</div>
				</div>
				<div class="carousel-item drk">
					<img src="uploads/xbox.jpg" class="d-block w-100" alt="...">
					<div class="carousel-caption d-none d-md-block">
						<h3 class ="text-black">Xbox</h3>
						<p class ="text-black">C'est le futur</p>
					</div>
				</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>
	<!-- FIN CONTAINER -->

</div>
<!-- FIN CAROUSEL -->

{% endblock %}

