{% extends 'base.html.twig' %}

{% block title %}Changer de mot de passe{% endblock %}

{% block body %}

    <h1 class="text-center my-4">Changez votre mot de passe</h1>

    <div class="row">
        <div class="col-6 mx-auto">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}
